<ion-view view-title="Sobre">
  <ion-content class="padding">
  	<div class="text-center">
		<p>
	      <h4>Projeto do App</h4>
	      <ol>
	        <li>IMC</li>
	        <li>Peso Ideal</li>
	        <li>Adequação de peso%</li>
	        <li>Peso ajustado</li>
	        <li>%Perda de peso</li>
	        <li>Adequação de CB %</li>
	        <li>Adequação PCT %</li>
	        <li>Somas das Pregas cutâneas</li>
	        <li>Gordura Corporal em Kg</li>
	        <li>Massa magra em Kg</li>
	        <li>CMB</li>
	        <li>AMBc</li>
	        <li>AGB</li>
	        <li>TMB</li>
	        <li>EER</li>
	      </ol>
	    </p>
	    <p>Desenvolvido por <a href="#" onclick="window.open('https://www.facebook.com/mauriciofragajr', '_system', 'location=yes'); return false;">Mauricio Fraga Jr.</a>
	    <br>Em conjunto com a Nutricionista Yngrid Cássia.</p>
	 </div>
      </ion-content>
</ion-view>
