<ion-view view-title="Cálculos">
  <ion-content>
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/imc">
      <h2>IMC</h2>
      <p>Índice de Massa Corporal</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/pesoIdeal">
      <h2>Peso Ideal</h2>
      <p>Veja o peso Ideal</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    
    </ion-list>
  </ion-content>
</ion-view>
